
h1{
    text-align: center;
        color: white;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0; /* Asegura que no haya márgenes que causen desplazamiento */
}
table {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    background-color: #f0f0f0;
    border: 1px solid #9d9898;
    padding: 10px;
}
th {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}
td {
    padding: 5px;
    border-bottom: 1px solid #0d0d0d;
    text-align: center;
    height: 20px;
    
}
tr {
    height: 10px; /* ajusta la altura de las filas */
    line-height: 10px; 
}
.boton-volver {
position: fixed;

right: 20px;
background-color: #d0eed0; /* Verde */
border: none;
border-radius: 10px; /* Redondeado */
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
margin-top: 20px;
}

.boton-volver:hover {
background-color: #5b675b; /* Verde oscuro */
color: #fff;
}